{% extends "base.html" %}

{% block content %}
<br>
<br>
<br>

<form id="form1" method="post" action="/test2">
{% csrf_token %}

{% for i in data1 %}

	<h1>Question: {{ i.question }}</h1>
	<input type="radio" id="op1" name="{{ i.id }}" value="a">
        <label for="op1" 
        {% if i.ans == 'a' %} class="text-primary" {% endif %}
        >{{ i.opt1 }}</label><br>

        <input type="radio" id="op2" name="{{ i.id }}" value="b">
        <label for="op2" {% if i.ans == 'b' %} class="text-primary" {% endif %} >{{ i.opt2 }}</label><br>

        <input type="radio" id="op3" name="{{ i.id }}" value="c">
        <label for="op3" {% if i.ans == 'c' %} class="text-primary" {% endif %} >{{ i.opt3 }}</label><br>

        <input type="radio" id="op4" name="{{ i.id }}" value="d">
        <label for="op4" {% if i.ans == 'd' %} class="text-primary" {% endif %} >{{ i.opt4 }}</label><br>

{% endfor %}

<br>
<button type="submit" class="btn btn-success" form="form1" value="Submit">Submit</button>
</form>

{% include "footer.html" %}

{% endblock %}

