{% extends "base.html" %}

{% block content %}
<br>
<br>
<br>

{% for i in data1 %}
  <h1>Question: {{ i.question }}</h1>
  {% if i.ans == 'a' %}
    <h1>Ans: {{ i.opt1 }}</h1>
  {% elif i.ans == 'b' %}
    <h1>Ans: {{ i.opt2 }}</h1>
  {% elif i.ans == 'c' %}
    <h1>Ans: {{ i.opt3 }}</h1>
  {% elif i.ans == 'd' %}
    <h1>Ans: {{ i.opt4 }}</h1>
  {% endif %}
{% endfor %}

{% for i in ans1 %}
  <p1>Ans : {{ i }}</p1>
  <br>
{% endfor %}

{% include "footer.html" %}

{% endblock %}

